name: Test Action

on:
  workflow_dispatch:

jobs:
  test:
    name: Run test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: default values
        uses: ./
      - name: specify folder
        uses: ./
        with:
          test_path: ./example
      - name: single file
        uses: ./
        with:
          test_path: ./example/model.fga.yaml
